<header class="mb-5">
    <nav class="navbar justify-content-between align-items-center bg-white border-bottom border-dark border-2 box-shadow mb-3 p-3">
        <h2 class="margin-left">Coding Dojo Wall</h2>
        <div class="d-flex justify-content-around gap-20 margin-right align-items-center">
            <p class="fs-4">Welcome @ViewBag.Name.Name</p>
            <a class="fs-4" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
        </div>
    </nav>
</header>